:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}
.segmented-control {

    width: 68rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; /* 상단에 고정 */
    left: 50%; /* 가로 중앙 정렬을 위해 */
    transform: translateX(-50%); /* 정확한 가로 중앙 정렬을 위해 */
}

.segmented-control input {
    display: none;
}
.segmented-control > input:checked + label {
    transition: all 0.5s ease;
    color: var(--primary);
}

[class^="segmented-control__"]{ /* 아래 반복되는 것을 동일적용 되도록 수식 사용*/
    /*.segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4, .segmented-control__5, .segmented-control__6, .segmented-control__7, .segmented-control__8, .segmented-control__9 {*/
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
}
[class^="segmented-control__"]:hover{ /* 아래 반복되는 것을 동일적용 되도록 수식 사용*/
    /*.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover, .segmented-control__4:hover, .segmented-control__5:hover, .segmented-control__6:hover, .segmented-control__7:hover, .segmented-control__8:hover, .segmented-control__9:hover {*/
    color: var(--primary);
}
.segmented-control__color {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
    transform: translateX(6.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
    transform: translateX(13.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-4:checked ~ .segmented-control__color {
    transform: translateX(20.4rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-5:checked ~ .segmented-control__color {
    transform: translateX(27.2rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-6:checked ~ .segmented-control__color {
    transform: translateX(34rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-7:checked ~ .segmented-control__color {
    transform: translateX(40.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-8:checked ~ .segmented-control__color {
    transform: translateX(47.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-9:checked ~ .segmented-control__color {
    transform: translateX(54.4rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-10:checked ~ .segmented-control__color {
    transform: translateX(61.2rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}