<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inverstment Propencity</title>
</head>
<body>
<form action="/afi/ippAsk" method="post">
    <div>
        <label for="user_age"><strong>1. 연령대 : </strong></label>
            <input id="user_age" type="number"  min="1" max="120" value="25" required>
    </div>
    <div>
        <p><strong>2. 투자 경험이 있는 상품을 선택하세요.(중복 가능)</strong></p>
        <input type="checkbox" name="product" id="product_1" value="원금보장형 일반 금융상품">① 은행의 예·적금, 국채, 지방채, 보증채, MMF, CMA 등 <br>
        <input type="checkbox" name="product" id="product_2" value="저위험 금융상품">② 금융채, 신용도가 높은 회사채, 채권형펀드, 원금보존추구형ELS 등 <br>
        <input type="checkbox" name="product" id="product_3" value="중위험 금융상품">③ 신용도 중간 등급의 회사채, 원금의 일부만 보장되는 ELS, 혼합형펀드 등 <br>
        <input type="checkbox" name="product" id="product_4" value="고위험 금융상품">④ 신용도가 낮은 회사채, 주식, 원금이 보장되지 않는 ELS, 시장수익률 수준의 수익을 추구하는 주식형펀드 등
        <br>
        <input type="checkbox" name="product" id="product_5" value="고위험 파생상품">⑤ ELW, 선물옵션, 시장수익률 이상의 수익을 추구하는 주식형펀드, 파생상품에 투자하는 펀드, 주식 신용거래 등
        <br>
        <!--
        1 == 3.1
        2 == 6.2
        3 == 9.3
        4 == 12.5
        5 == 15.6
        -->

    </div>
    <div>
        <p><strong>3. 금융상품에 대해 얼마나 알고 있으신가요?</strong></p>
        <input type="radio" name="understanding" id="understanding_1" value="매우 낮은 수준">① ［매우 낮은 수준］투자의사 결정을 스스로 내려본 경험이 없는 정도(예적금 포함) <br>
        <input type="radio" name="understanding" id="understanding_2" value="낮은 수준">② ［낮은 수준］주식과 채권의 차이를 구별할 수 있는 정도 <br>
        <input type="radio" name="understanding" id="understanding_3" value="높은 수준">③ ［높은 수준］투자할 수 있는 대부분의 금융상품의 차이를 구별할수 있는 정도 <br>
        <input type="radio" name="understanding" id="understanding_4" value="매우 높은 수준">④ ［매우 높은 수준］금융상품을 비롯하여 모든 투자대상 상품의 차이를 이해할 수 있는 정도 <br>
        <!--
        1 == 3.1
        2 == 6.2
        3 == 9.3
        4 == 12.5
        -->
    </div>
    <div>
        <p><strong>4. 희망하는 투자 기간은 어떠한가요?</strong></p>
        <input type="radio" name="period" id="period_1" value="6개월 이내">① 6개월 이내<br>
        <input type="radio" name="period" id="period_2" value="1년 이내">② 6개월 ~ 1년 이내<br>
        <input type="radio" name="period" id="period_3" value="2년 이내">③ 1년 ~ 2년 이내<br>
        <input type="radio" name="period" id="period_4" value="3년 이내">④ 2년 ~ 3년 이내<br>
        <input type="radio" name="period" id="period_5" value="3년 이상">⑤ 3년 이상<br>
    </div>
    <div>
        <p><strong>5. 투자하고자 하는 자금은 전체 자산 중 어느 정도의 비중인가요?(운용가능자산)</strong></p>
        <input type="radio" name="importance" id="importance_1" value="10% 이내">① 10% 이내<br>
        <input type="radio" name="importance" id="importance_2" value="20% 이내">② 10% ~ 20% 이내<br>
        <input type="radio" name="importance" id="importance_3" value="30% 이내">③ 20% ~ 30% 이내<br>
        <input type="radio" name="importance" id="importance_4" value="40% 이내">④ 30% ~ 40% 이내<br>
        <input type="radio" name="importance" id="importance_5" value="40% 이상">⑤ 40% 이상<br>
        <!--
        1 == 15.6
        2 == 12.5
        3 == 9.3
        4 == 6.2
        5 == 3.1
        -->
    </div>
    <div>
        <p><strong>6. 현재 수입원에 대하여 알려 주세요.</strong></p>
        <input type="radio" name="income" id="income_1" value="일정한 수입이 발생되고 있으며 향후 증가 예상">① 일정한 수입이 발생되고 있으며 향후 증가 예상<br>
        <input type="radio" name="income" id="income_2" value="일정한 수입이 발생되고 있으며 향후 유지 예상">② 일정한 수입이 발생되고 있으며 향후 유지 예상<br>
        <input type="radio" name="income" id="income_3" value="일정한 수입이 발생되고 있으나, 향후 감소하거나 불안정함">③ 일정한 수입이 발생되고 있으나, 향후 감소하거나 불안정함<br>
        <input type="radio" name="income" id="income_4" value="일한 수입은 없으나, 기대 수입은 존재(프리랜서 등등)">④ 일한 수입은 없으나, 기대 수입은 존재(프리랜서 등등)<br>
        <input type="radio" name="income" id="income_5" value="일정한 수입이 없음">⑤ 일정한 수입이 없음.<br>
        <!--
        1 == 9.3
        2 == 7.7
        3 == 6.2
        4 == 4.6
        5 == 3.1
        -->
    </div>
    <div>
        <p><strong>7. 투자원금에 대해서 감수 가능한 손실 수준은 어느 것인가요?</strong></p>
        <input type="radio" name="loss" id="loss_1" value="무조건 투자원금은 보전되길 원한다">① 무조건 투자원금은 보전되길 원한다.<br>
        <input type="radio" name="loss" id="loss_2" value="10% 미만까지는 손실 감수가 가능하다">② 10% 미만까지는 손실 감수가 가능하다.<br>
        <input type="radio" name="loss" id="loss_3" value="20% 미만까지는 손실 감수가 가능하다">③ 20% 미만까지는 손실 감수가 가능하다.<br>
        <input type="radio" name="loss" id="loss_4" value="18.7">④ 기대수익만 높다면 위험이 높아도 상관 없다.<br>
        <!--
        1 == -6.2
        2 == 6.2
        3 == 12.5
        4 == 18.7
        -->
    </div>

    <div>
        <input type="reset" value="취소"><br>
        <input type="submit" value="확인">
    </div>
</form>
</body>
</html>